:host {
  display: flex;
  flex: 1;
  background-color: blue;
  position: absolute;
  height: 100%;
  width: 100%;
  /* transform: translateX(200%); */
  animation: slide-in 1s linear;
  /* transition: transform 1s cubic-bezier(0.465, 0.183, 0.153, 0.946); */
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
