<div class="mx-auto w-full px-4 py-6 sm:px-6 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
    <section class="w-full rounded-lg bg-zinc-900 p-5 shadow-md">
        <h2 class="mb-10 font-semibold text-white text-2xl">Crea Tu Cuenta</h2>
        <form class="flex w-full flex-col justify-between">
            <div class="flex flex-col gap-5">
                <p-inputgroup class="flex w-full">
                    <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                        <i class="pi pi-user text-sm text-slate-300"></i>
                    </p-inputgroup-addon>
                    <input class="w-full min-w-0" pInputText name="usuario" [(ngModel)]="usuario" placeholder="Usuario"
                        autocomplete="username" />
                </p-inputgroup>

                <p-inputgroup class="flex w-full">
                    <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                        <i class="pi pi-lock text-sm text-slate-300"></i>
                    </p-inputgroup-addon>
                    <input class="w-full min-w-0" pInputText name="password" type="password" [(ngModel)]="password"
                        placeholder="Contraseña" autocomplete="current-password" />
                </p-inputgroup>
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    <p-inputgroup class="flex w-full min-w-0">
                        <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                            <i class="pi pi-id-card text-sm text-slate-300"></i>
                        </p-inputgroup-addon>
                        <input class="w-full min-w-0" pInputText name="nombre" [(ngModel)]="nombre" placeholder="Nombre"
                            autocomplete="given-name" />
                    </p-inputgroup>

                    <p-inputgroup class="flex w-full min-w-0">
                        <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                            <i class="pi pi-id-card text-sm text-slate-300"></i>
                        </p-inputgroup-addon>
                        <input class="w-full min-w-0" pInputText name="apellido" [(ngModel)]="apellido"
                            placeholder="Apellido" autocomplete="family-name" />
                    </p-inputgroup>
                </div>

                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">

                    <p-inputgroup class="flex w-full">
                        <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                            <i class="pi pi-calendar text-sm text-slate-300"></i>
                        </p-inputgroup-addon>
                        <input class="w-full min-w-0" pInputText name="edad" type="number" [(ngModel)]="edad"
                            placeholder="Edad" autocomplete="off" />
                    </p-inputgroup>

                    <p-inputgroup class="flex w-full">
                        <p-inputgroup-addon class="flex w-12 shrink-0 items-center justify-center text-slate-300">
                            <i class="pi pi-envelope text-sm text-slate-300"></i>
                        </p-inputgroup-addon>
                        <input class="w-full min-w-0" pInputText name="correo" type="email" [(ngModel)]="correo"
                            placeholder="Correo" autocomplete="email" />
                    </p-inputgroup>
                </div>

                <a routerLink="/home"
                    class="-mt-3 ml-1 text-sm text-gray-400 underline underline-offset-4 transition-colors hover:text-gray-300">
                    Ya estoy registrado
                </a>
            </div>
            <div class="card flex mt-10 justify-center">
                <p-button label="Crear Cuenta " />
            </div>
        </form>
    </section>
</div>
