<div class="card">
  <p-table [value]="resultado" [tableStyle]="{ 'min-heigth': '100vh' }">
    <ng-template #header>
      <tr>
        <th>Ranking</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puntos</th>
      </tr>
    </ng-template>
    <ng-template #body let-jugador let-rowIndex="rowIndex">
      <tr
        [ngClass]="{
          ganador: rowIndex === 0,
          segundo: rowIndex === 1,
          tercero: rowIndex === 2,
        }"
      >
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ jugador.usuarios_registrados.nombre }}</td>
        <td>{{ jugador.usuarios_registrados.apellido }}</td>
        <td>{{ jugador.puntaje }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
