<div class="flex flex-col flex-1 gap-30 p-10 bg-[rgba(16,16,16)]">
  <div class="flex flex-col justify-center gap-10">
    <om-gradient-text
      gradientStart="#62c9ae"
      gradientEnd="#43ff644d"
      text="Mayor o Menor"
      styleClass="gradient-text-style"
    ></om-gradient-text>

    <h2 class="text-center">
      <app-contador [puntaje]="puntaje"></app-contador>
    </h2>
  </div>
  <div class="flex flex-col justify-center">
    <div class="carta flex justify-center align-bottom">
      <div class="flex-1/3 self-end">
        <img
          class="h-50 m-auto"
          [ngClass]="{ 'carta-previa': animarCarta() }"
          [src]="imagenCartaPrevia()"
          (animationend)="finalizarAnimacionCartaPrevia()"
        />
      </div>
      <div class="flex-1/3">
        <img
          class="m-auto"
          [ngClass]="{ 'carta-actual': animarCarta() }"
          (animationend)="finalizarAnimacionCartaPrevia()"
          [src]="imagenCarta()"
        />
      </div>
      <div class="flex-1/3 self-end">
        <img class="h-50 m-auto" src="/media/juegos/mayormenor/carta-misterio.png" />
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-30">
    <p-button
      label="Menor"
      [disabled]="deshabilitarBotones()"
      size="large"
      severity="danger"
      (onClick)="elijeMenor()"
    ></p-button>
    <p-button
      label="Mayor"
      [disabled]="deshabilitarBotones()"
      size="large"
      severity="success"
      (onClick)="elijeMayor()"
    ></p-button>
  </div>
</div>
<app-pantallafindejuego
  [victoria]="victoria()"
  [reiniciar]="reiniciarJuego"
  [abandonar]="abandonarJuego"
  [juegoTerminado]="juegoTerminado()"
  [puntaje]="puntaje()"
  [attr.aria-hidden]="!juegoTerminado()"
  [attr.inert]="!juegoTerminado() ? '' : null"
  [ngClass]="{
    mostrar: juegoTerminado() === true,
    ocultar: juegoTerminado() === false,
    victoria: victoria(),
    derrota: !victoria() && juegoTerminado(),
  }"
></app-pantallafindejuego>
