:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}

.preguntados-elegir-categoria {
  display: flex;
  flex: 1;
  background-color: rgba(16, 16, 16, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  transition:
    transform 1s linear,
    visibility 0s linear 1s;
}

.preguntados-elegir-categoria.ocultar {
  display: none;
}

:preguntados-elegir-categoria(.mostrar) {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
  transition: transform 1s linear;
}

.boton-respuestas {
  width: 90%;
  height: 25%;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: white;
  border: 1px solid var(--p-button-primary-border-color);
  padding: var(--p-button-padding-y) var(--p-button-padding-x);
  font-size: 1rem;
  font-family: inherit;
  font-feature-settings: inherit;
  gap: var(--p-button-gap);
  transition: 0.5s linear;
}

.boton-respuestas:hover {
  background: var(--p-button-primary-background);
}
