<div
  class="preguntados-elegir-categoria p-10"
  [ngClass]="{
    ocultar: ocultarCategoria(),
  }"
>
  <div class="flex flex-col flex-1 justify-evenly align-middle">
    <om-gradient-text
      class="mb-10"
      gradientStart="#62c9ae"
      gradientEnd="#43ff644d"
      text="Preguntados"
      styleClass="gradient-text-style"
    ></om-gradient-text>
    <h1 class="text-center">Elegí la categoría</h1>
    <div class="flex items-center justify-center flex-col gap-15 flex-3/4">
      <div class="flex gap-15">
        <p-button size="large" label="General" (onClick)="elegirCategoria('general')"></p-button>
        <p-button size="large" label="Deportes" (onClick)="elegirCategoria('deportes')"></p-button>
      </div>
      <div class="flex gap-15">
        <p-button size="large" label="Música" (onClick)="elegirCategoria('musica')"></p-button>
        <p-button size="large" label="Historia" (onClick)="elegirCategoria('historia')"></p-button>
      </div>
    </div>
  </div>
</div>
<div class="grid flex-1 grid-rows-[auto_auto_0.3fr_0.7fr] gap-8 p-10 justify-items-center">
  <om-gradient-text
    class=""
    gradientStart="#62c9ae"
    gradientEnd="#43ff644d"
    text="Preguntados"
    styleClass="gradient-text-style"
  ></om-gradient-text>
  <div class="grid grid-cols-1 grid-rows-2 justify-items-center w-full gap-10">
    <div class="flex justify-center w-full gap-50">
      <h2 class="text-center">{{ contadorPregunta() + 1 }}/10</h2>
      <h2>cronometro</h2>
      <h2>{{ puntaje() }}</h2>
    </div>
    <div class="flex justify-center w-full gap-50">
      <div class="flex justify-center items-center">
        <i class="pi pi-times" style="color: red; margin-right: 15px"></i>
        {{ respuestasIncorrectas() }}
      </div>
      <div class="flex justify-center items-center">
        <i class="pi pi-check" style="color: green; margin-right: 15px"></i
        >{{ respuestasCorrectas() }}
      </div>
    </div>
  </div>
  <!-- <div class="pregunta flex-1/5 flex justify-center items-start"> -->
  <div class="pregunta flex justify-center w-full">
    <div class="border-2 text-center self-center border-[#62c9ae] p-10 rounded-2xl text-xl">
      {{ preguntaActual() }}
    </div>
  </div>
  <div class="grid items-center justify-items-center grid-cols-2 grid-rows-2 gap-10 gap-y-0 w-full">
    @for (rta of arrayRespuestas; track $index) {
      <button class="boton-respuestas rounded-2xl" (click)="verificarRespuesta(rta)">
        {{ rta }}
      </button>
    }
  </div>
</div>
<app-pantallafindejuego
  [victoria]="victoria()"
  [reiniciar]="reiniciarJuego"
  [abandonar]="abandonarJuego"
  [juegoTerminado]="juegoTerminado()"
  [puntaje]="puntaje()"
  [attr.aria-hidden]="!juegoTerminado()"
  [attr.inert]="!juegoTerminado() ? '' : null"
  [ngClass]="{
    mostrar: juegoTerminado() === true,
    ocultar: juegoTerminado() === false,
    victoria: victoria(),
    derrota: !victoria() && juegoTerminado(),
  }"
></app-pantallafindejuego>
