:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}

.preguntados-elegir-categoria {
  display: flex;
  flex: 1;
  background-color: rgba(16, 16, 16, 0.95);
  position: absolute;
  height: 100%;
  width: 100%;
  transition:
    transform 1s linear,
    visibility 0s linear 1s;
}

.preguntados-elegir-categoria.ocultar {
  display: none;
}

:preguntados-elegir-categoria(.mostrar) {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
  transition: transform 1s linear;
}
