/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body > app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.gradient-text-style {
  font-size: 3rem !important;
  font-weight: 700 !important;
  text-align: center;
  display: flex;
  justify-content: center;
}

* {
  font-family: 'Oxanium', sans-serif;
  font-style: normal;
}

/*
Color Fondo
rgba(16, 16, 16)

Color turquesa Aurora 
rgba(98, 201, 174)

Color titulo
rgba(51, 72, 64)
*/
